${JD_DIR}/scripts*
${JD_DIR}/log*
${JD_DIR}/config*
${JD_DIR}/panel/package-lock.json
${JD_DIR}/panel/yarn.lock
${JD_DIR}/panel/node_modules*
${JD_DIR}/panel/server.js
${JD_DIR}/new_task
${JD_DIR}/drop_task
${JD_DIR}/send_count
